
.search-input {
    width: 85% !important;
}

.picture-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.picture-photo:hover {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
